<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @blog.attachment %>
</p>

<%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }%>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
